<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src='static/Chart.min.js'></script>
    <script src="static/livechart.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Asynchronous Flask Communication</h1>
        <p>Live lidar updates from firebase.</p>
    </div>
</div>


<canvas id="myChart" width="600" height="400" style="margin: auto;"></canvas>
<p id="pointSelected"></p>



</body>
</html>